---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <div class="container mx-auto py-10">
    <h1 class="text-2xl font-bold mb-4">Privacy Policy</h1>
    <p class="mb-4">
      At VidaPlusMed.com, we take your privacy seriously. This Privacy Policy
      outlines how we collect, use, and protect the information you provide us
      when you visit our website.
    </p>
    <h2 class="text-xl font-bold mb-2">Information We Collect</h2>
    <p class="mb-4">
      We do not collect any personally identifiable information about you when
      you visit our website. We do not use cookies, tracking technologies, or
      any other means to collect data about your visit. We do not require you to
      provide any personal information to access the information on our site.
    </p>
    <h2 class="text-xl font-bold mb-2">Use of Information</h2>
    <p class="mb-4">
      Since we do not collect any personal information, we do not use it in any
      way.
    </p>
    <h2 class="text-xl font-bold mb-2">Third-Party Disclosure</h2>
    <p class="mb-4">
      We do not sell, trade, or otherwise transfer to outside parties any
      personally identifiable information. We do not include or offer
      third-party products or services on our website.
    </p>
    <h2 class="text-xl font-bold mb-2">Security</h2>
    <p class="mb-4">
      We take reasonable steps to protect your information from unauthorized
      access and use. We do not use any security measures that require personal
      information from users.
    </p>
    <h2 class="text-xl font-bold mb-2">Changes to This Policy</h2>
    <p class="mb-4">
      If we decide to change our Privacy Policy, we will post those changes on
      this page. Your continued use of our website following the posting of
      changes to this policy will be deemed your acceptance of those changes.
    </p>
    <h2 class="text-xl font-bold mb-2">Contact Us</h2>
    <p>
      If you have any questions or concerns about our Privacy Policy, please
      contact us at <a
        href="mailto:info@vidaplusmed.com"
        class="text-blue-500 hover:underline">info@vidaplusmed.com</a
      >.
    </p>
    <p class="mt-4">Last updated: April 16, 2023.</p>
  </div>
</Layout>
