---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Telehealth">
  <section class="container mx-auto px-5 py-10">
    <div class="grid md:grid-cols-2 gap-10">
      <div>
        <img
          src="https://media.npr.org/assets/img/2021/10/18/telehealth_gettyimages-13149606351_sq-d549a5d4ad253f055b1d3841f11901cefb4eae4f.jpg"
          alt="Doctor in front of a computer"
          class="rounded-lg shadow-lg"
        />
      </div>
      <div>
        <h1 class="text-3xl font-bold mb-3">
          Telehealth - Convenient and Easy Way to See Your Doctor
        </h1>
        <p class="text-gray-700 mb-6 leading-relaxed">
          Telehealth allows you to have a virtual consultation with your doctor
          from the comfort of your home or office. No more waiting in long lines
          or sitting in crowded waiting rooms. With telehealth, you can see your
          doctor from anywhere at any time.
        </p>
        <p class="text-gray-700 mb-6 leading-relaxed">
          At VidaPlusMed, we offer telehealth services for a wide range of
          medical conditions, including routine checkups, medication refills,
          and mental health consultations. Our telehealth platform is secure,
          easy to use, and HIPAA-compliant, so you can rest assured that your
          personal information is safe.
        </p>
        <a
          href="https://vidaplusmed.setmore.com"
          class="inline-block px-6 py-3 rounded-lg bg-green-500 text-white font-medium hover:bg-green-600"
          >Book an Appointment</a
        >
      </div>
    </div>
  </section>
</Layout>
