---
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<header
  class="flex flex-col lg:flex-row justify-between items-center px-5 py-3 text-white bg-[#1E4287] dark:bg-[#102a5b]">
  <Astronav class="text-white">
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-lg"
        ><img
          src="https://res.cloudinary.com/cduoshop/image/upload/v1681307577/logo-2_b0wccu.png"
          class="h-12"
        />
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-white" />
      </div>
    </div>
    <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 text-white">
      <ul class="flex flex-col lg:flex-row lg:gap-3 text-white">
        {
          menuitems.map((item, index) => (
            <>
              {item.children && (
                <Dropdown
                  title={item.title}
                  children={item.children}
                  lastItem={index === menuitems.length - 1}
                />
              )}

              {!item.children && (
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 text-white hover:text-gray-200">
                    {item.title}
                  </a>
                </li>
              )}
            </>
          ))
        }
        <li class="button-small-theme">
          <button
            class="theme-button1 bg-gray-400 dark:bg-slate-600 px-4 py-1 rounded-md w-full"
            >Light Mode</button
          >
        </li>
      </ul>
    </MenuItems>
  </Astronav>
  <div>
    <div class="hidden lg:flex items-center gap-4">
      <button
        class="theme-button bg-gray-400 dark:bg-slate-600 px-4 py-1 rounded-md"
        >Light Mode</button
      >
    </div>
  </div>
</header>

<script>
  let themeButton = document.querySelector(".theme-button");
  let theme = localStorage.getItem("theme");

  // Check if a theme is stored in localStorage
  if (theme === "dark") {
    enableDarkMode();
  } else {
    enableLightMode();
  }

  // Add event listener to theme button
  themeButton.addEventListener("click", function () {
    // Toggle between dark and light mode
    if (theme === "dark") {
      enableLightMode();
    } else {
      enableDarkMode();
    }
  });

  function enableDarkMode() {
    // Add "dark" class to body
    document.body.classList.add("dark");
    // Update theme variable and localStorage
    theme = "dark";
    localStorage.setItem("theme", theme);
    // Update theme button text
    themeButton.textContent = "Dark mode";
  }

  function enableLightMode() {
    // Remove "dark" class from body
    document.body.classList.remove("dark");
    // Update theme variable and localStorage
    theme = "light";
    localStorage.setItem("theme", theme);
    // Update theme button text
    themeButton.textContent = "Light mode";
  }
</script>

<script>
  let themeButton1 = document.querySelector(".theme-button1");
  let theme = localStorage.getItem("theme");

  // Check if a theme is stored in localStorage
  if (theme === "dark") {
    enableDarkMode();
  } else {
    enableLightMode();
  }

  // Add event listener to theme button
  themeButton1.addEventListener("click", function () {
    // Toggle between dark and light mode
    if (theme === "dark") {
      enableLightMode();
    } else {
      enableDarkMode();
    }
  });

  function enableDarkMode() {
    // Add "dark" class to body
    document.body.classList.add("dark");
    // Update theme variable and localStorage
    theme = "dark";
    localStorage.setItem("theme", theme);
    // Update theme button text
    themeButton1.textContent = "Dark mode";
  }

  function enableLightMode() {
    // Remove "dark" class from body
    document.body.classList.remove("dark");
    // Update theme variable and localStorage
    theme = "light";
    localStorage.setItem("theme", theme);
    // Update theme button text
    themeButton1.textContent = "Light mode";
  }
</script>
