---
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<header
  class="flex flex-col lg:flex-row justify-between items-center px-5 py-3 text-white bg-[#1E4287]">
  <Astronav class="text-white">
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-lg"
        ><img
          src="https://res.cloudinary.com/cduoshop/image/upload/v1681307577/logo-2_b0wccu.png"
          class="h-12"
        />
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-white" />
      </div>
    </div>
    <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 text-white">
      <ul class="flex flex-col lg:flex-row lg:gap-3 text-white">
        {
          menuitems.map((item, index) => (
            <>
              {item.children && (
                <Dropdown
                  title={item.title}
                  children={item.children}
                  lastItem={index === menuitems.length - 1}
                />
              )}

              {!item.children && (
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 text-white hover:text-gray-200">
                    {item.title}
                  </a>
                </li>
              )}
            </>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>
