---
---
r
<div class="didyouknow-container">
  <h1 class="text-3xl font-bold mb-4">Our Location</h1>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14072.128121930924!2d-81.4748415!3d28.1455131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd9d9e46f71c8d%3A0xa9962062387f00cc!2sVidaPlus%20Medical!5e0!3m2!1sen!2spr!4v1685546383701!5m2!1sen!2spr"
    width="800"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
