---
import Link from "@components/ui/link.astro";
---

<main
  class="bg-[#1E4287] dark:bg-[#102a5b] -mt-4"
  style="border-bottom-left-radius: 2em; border-bottom-right-radius: 2em;">
  <div class="hero-container">
    <div class="hero-left">
      <div class="mt-auto">
        <h1>
          Giving <span class="text-[#40A681]">YOU</span> the care <span
            class="text-[#40A681]">YOU</span
          > need
        </h1>
        <div class="flex flex-row">
          <a href=""
            ><button
              class="bg-[#E9B44C] border-solid border-1 border-[#E9B44C] rounded-md mr-2 hover:bg-[#c59b46] hover:border-[#c59b46]">
              Schedule Appointment</button
            ></a
          >
          <a href=""
            ><button
              class="bg-transparent rounded-md border-solid border-1 border-[#f7f0f5] hover:bg-[#f7f0f5] hover:text-slate-800">
              Contact Us</button
            ></a
          >
        </div>
      </div>
      <div class="mt-auto sta">
        <p class="text-slate-200 flex flex-row align-center">
          <img
            src="https://res.cloudinary.com/cduoshop/image/upload/v1681314214/arrow-down-animated-1_bqacmf.gif" class="h-3 mb-auto mt-auto mr-1"
          /> Scroll Down To Learn More
        </p>
      </div>
    </div>
    <div class="hero-right">
      <img
        src="https://res.cloudinary.com/cduoshop/image/upload/v1681307577/b2439117-ab3c-411d-a073-8510759aea27_pulraj.png"
      />
    </div>
  </div>
</main>
