<div class="p-[1em]">

    <h1 class="text-4xl font-bold">We offer</h1>
    <p class="font-medium mb-3 text-2xl">the following services</p>

    

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 cat-cards-cont">
    <div class="text-white bg-gray-800 p-8 rounded-lg shadow-lg cat-cards-1">
      <h1 class="font-medium mb-1">Primary Care & Preventative Maintenence</h1>
      <p class="text-base">Stay healthy & avoid injury.</p>
    </div>
    <div class="text-white bg-gray-800 p-8 rounded-lg shadow-lg cat-cards-2">
      <h1 class="font-medium mb-1">Routine Annual Wellness</h1>
      <p class="text-base">Checkup to catch problems early.</p>
    </div>
    <div class="bg-gray-800 text-white p-8 rounded-lg shadow-lg cat-cards-3">
      <h1 class="font-medium mb-1">Treatment of Chronic Conditions</h1>
      <p class="text-base">Treat Diabetes, Asthma, & much more</p>
    </div>
    <div class="bg-gray-800 text-white p-8 rounded-lg shadow-lg cat-cards-4">
      <h1 class="font-medium mb-1">Medical Weight Loss</h1>
      <p class="text-base">Lose weight with medical help.</p>
    </div>
  </div>
</div>
