<main>
  <div class="stats-container bg-[#F6F0F5] rounded-lg">
    <div class="stats-left p-4 rounded-md flex flex-col justify-between">
      <div class="flex align-center">
        <span class="icon bg-[#40A681]"
          ><img
            src="https://res.cloudinary.com/cduoshop/image/upload/v1681307577/5940004_hwyspp.png"
            class="w-10 h-10"
          /></span
        >
        <span class="mt-auto mb-auto ml-2 text-2xl">25+ Years Experience</span>
      </div>
      <div class="flex align-center">
        <span class="icon bg-[#40A681] p-2"
          ><img
            src="https://res.cloudinary.com/cduoshop/image/upload/v1681352142/Asset_1_lv60g7.png"
            class="w-10 h-10"
          /></span
        >
        <span class="mt-auto mb-auto ml-2 text-2xl"
          >Professional Medical Team</span
        >
      </div>
      <div class="flex align-center">
        <span class="icon bg-[#40A681] p-2"
          ><img
            src="https://res.cloudinary.com/cduoshop/image/upload/v1681307577/3d-alarm-clock-icon-purple-vintage-clock-with-twin-bell-at-10-10-floating-isolated-on-transparent-time-management-time-keeping-concept-cartoon-icon-minimal-smooth-3d-rendering-png_wumse7.webp"
            class="w-10 h-10"
          /></span
        >
        <span class="mt-auto mb-auto ml-2 text-2xl"
          >Fast & Reliable Service</span
        >
      </div>
    </div>
    <div class="stats-right">
      <h1>Here's what makes us different from conventional clinics</h1>
      <h3 class="text-[#293A49]">300+</h3>
      <p class="font-medium">Served / Serving Patients</p>
    </div>
  </div>
</main>
