---
import icon1 from "@assets/icon1.svg";
import icon2 from "@assets/icon2.svg";
import icon3 from "@assets/icon3.svg";
---

<main>
  <div class="stats-container bg-[#F6F0F5] rounded-lg">
    <div class="stats-left p-4 rounded-md flex flex-col justify-between">
      <div class="flex align-center">
        <span class="icon">
          <img src={icon1} alt="icon" draggable="false" />
        </span>
        <span class="mt-auto mb-auto ml-2 text-2xl">25+ Years Experience</span>
      </div>
      <div class="flex align-center">
        <span class="icon">
          <img src={icon2} alt="icon" draggable="false" />
        </span>
        <span class="mt-auto mb-auto ml-2 text-2xl"
          >Professional Medical Team</span
        >
      </div>
      <div class="flex align-center">
        <span class="icon">
          <img src={icon3} alt="icon" draggable="false" />
        </span>
        <span class="mt-auto mb-auto ml-2 text-2xl"
          >Fast & Reliable Service</span
        >
      </div>
    </div>
    <div class="stats-right">
      <h1>Here's what makes us different from conventional clinics</h1>
      <h3 class="text-[#293A49]">300+</h3>
      <p class="font-medium">Served / Serving Patients</p>
    </div>
  </div>
</main>
