@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: transparent;
  outline: transparent;
  font-family: "Lato", sans-serif;
}

body.dark {
  background-color: #243b4a;
  color: white;
}

.hero-container {
  display: flex;
  flex-direction: row;
  color: white;
}
.hero-container .hero-left {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
.hero-container .hero-left h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.hero-container .hero-left button {
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 700;
  transition: 0.25s ease;
  cursor: pointer;
}
.hero-container .hero-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.hero-container .hero-right img {
  width: 100%;
  justify-content: flex-end;
  border-bottom-right-radius: 2em;
}

.stats-container {
  padding: 1em;
  margin: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stats-container .stats-left {
  width: 50%;
}
.stats-container .stats-left svg {
  height: 2.5rem;
}
.stats-container .stats-left .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.stats-container .stats-left .icon p {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.stats-container .stats-right {
  width: 50%;
  padding: 0.25em;
  text-align: right;
}
.stats-container .stats-right h1 {
  font-size: 2.1em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.stats-container .stats-right h3 {
  font-size: 5em;
  font-weight: 700;
}
.stats-container .stats-right p {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.cat-cards-cont h1 {
  font-size: clamp(2.2em, 60%, 4em);
  color: white;
  font-weight: bold;
  margin-top: 0.2em;
}
.cat-cards-cont p {
  font-size: clamp(1.2em, 60%, 2em);
}
.cat-cards-cont button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.cat-cards-1 {
  background-image: url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681675847/Untitled_design-14_wgfxki.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cat-cards-2 {
  background-image: url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676143/Untitled_design-15_qjjpli.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cat-cards-3 {
  background-image: url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676301/Untitled_design-16_ju5mvd.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cat-cards-4 {
  background-image: url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676585/Untitled_design-18_ftytq3.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.didyouknow-container {
  padding: 1em;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.didyouknow-container h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.didyouknow-container #category {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}
.didyouknow-container #fact {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.button-small-theme {
  display: none;
}

.about-doctor-container {
  padding: 1em;
  margin: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-doctor-container .about-txt {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
.about-doctor-container .about-txt p {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.about-doctor-container .about-img {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.about-doctor-container .about-img img {
  width: 100%;
  justify-content: flex-end;
}

#logo-carousel {
  animation: marquee 15s linear infinite 0s;
  margin-top: 1em;
}
#logo-carousel img {
  height: 15vh;
  margin-right: 1em;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 1000px) {
  .button-small-theme {
    display: block;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .hero-container .hero-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }
  .hero-container .hero-left .sta {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-container .hero-left h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  .hero-container .hero-left button {
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 700;
    transition: 0.25s ease;
    cursor: pointer;
    margin-bottom: 1em;
  }
  .hero-container .hero-right {
    display: none;
  }
  .stats-container {
    padding: 1em;
    margin: 1.5em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .stats-container .stats-left {
    background-color: white;
    width: 100%;
  }
  .stats-container .stats-left div {
    margin-bottom: 1em;
  }
  .stats-container .stats-left svg {
    height: 1.5rem;
  }
  .stats-container .stats-left .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 50%;
  }
  .stats-container .stats-left .icon p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  .stats-container .stats-right {
    width: 100%;
    padding: 0.25em;
    text-align: right;
  }
  .stats-container .stats-right h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  .stats-container .stats-right h3 {
    font-size: 4em;
    font-weight: 700;
  }
  .stats-container .stats-right p {
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  .cat-cards-cont h1 {
    font-size: clamp(2.2em, 60%, 4em);
    color: white;
    font-weight: bold;
    margin-top: 0.2em;
  }
  .cat-cards-cont p {
    font-size: clamp(1.2em, 60%, 2em);
    font-weight: 400;
  }
  .cat-cards-cont button {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  /*  

    background-image: url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681675847/Untitled_design-14_wgfxki.png");
  }

    background-image: url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676143/Untitled_design-15_qjjpli.png");
  }


    background-image: url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676301/Untitled_design-16_ju5mvd.png");




    background-image: url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676585/Untitled_design-18_ftytq3.png");



    */
  .cat-cards-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.716), rgba(0, 0, 0, 0.631)), url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681675847/Untitled_design-14_wgfxki.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cat-cards-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.716), rgba(0, 0, 0, 0.631)), url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676143/Untitled_design-15_qjjpli.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cat-cards-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.716), rgba(0, 0, 0, 0.631)), url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676301/Untitled_design-16_ju5mvd.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cat-cards-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.716), rgba(0, 0, 0, 0.631)), url("https://res.cloudinary.com/dcix3cz9j/image/upload/v1681676585/Untitled_design-18_ftytq3.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .didyouknow-container #category {
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding-left: 1em;
    padding-right: 1em;
  }
}/*# sourceMappingURL=index.css.map */