@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: transparent;
  outline: transparent;
  font-family: "Lato", sans-serif;
}

.hero-container {
  display: flex;
  flex-direction: row;
  color: white;
  .hero-left {
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    h1 {
      font-size: 4em;
      font-weight: 700;
      margin-bottom: 0.5em;
    }
    button {
      padding: 0.5em 1em;
      font-size: 1em;
      font-weight: 700;
      transition: 0.25s ease;
      cursor: pointer;
    }
  }
  .hero-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    // Clip the image to the hero container

    img {
      width: 100%;
      justify-content: flex-end;
      border-bottom-right-radius: 2em;
    }
  }
}

.stats-container {
  padding: 1em;
  margin: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .stats-left {
    background-color: white;
    width: 50%;

    svg {
      height: 2.5rem /* 40px */;
    }

    .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.1em;
        font-weight: 400;
        margin-bottom: 0.5em;
      }
    }
  }
  .stats-right {
    width: 50%;
    padding: 0.25em;
    text-align: right;

    h1 {
      font-size: 2.1em;
      font-weight: 700;
      margin-bottom: 0.5em;
    }

    h3 {
      font-size: 5em;
      font-weight: 700;
    }

    p {
      font-size: 1.1em;
      font-weight: 400;
      margin-bottom: 0.5em;
    }
  }
}

.didyouknow-container {
  padding: 1em;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  #category {
    width: fit-content !important;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
  }

  #fact {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 1000px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    .hero-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2em;

      .sta {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      h1 {
        font-size: 3em;
        font-weight: 700;
        margin-bottom: 0.5em;
      }
      button {
        padding: 0.5em 1em;
        font-size: 1em;
        font-weight: 700;
        transition: 0.25s ease;
        cursor: pointer;
        margin-bottom: 1em;
      }
    }
    .hero-right {
      display: none;
    }
  }

  .stats-container {
    padding: 1em;
    margin: 1.5em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    .stats-left {
      background-color: white;
      width: 100%;

      div {
        margin-bottom: 1em;
      }

      svg {
        height: 1.5rem;
      }

      .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        border-radius: 50%;
        p {
          font-size: 1em;
          font-weight: 400;
          margin-bottom: 0.5em;
        }
      }
    }
    .stats-right {
      width: 100%;
      padding: 0.25em;
      text-align: right;

      h1 {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 0.5em;
      }

      h3 {
        font-size: 4em;
        font-weight: 700;
      }

      p {
        font-size: 1.1em;
        font-weight: 400;
        margin-bottom: 0.5em;
      }
    }
  }

  .didyouknow-container {
    #category {
      width: fit-content !important;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
